---
layout: default
title: Speaking
description: "When I say things."
comments: false
image:
  feature: burning-man-abstract.png
  credit: 
  creditlink: 
---
   
      
{% for event in site.speaking reversed %}
<article> 
	{% include speaking-header.html %}

	<h2>{{ event.location }}</h2>
	<p class="entry-title">{{ event.content }}</p>

	{% if event.video_link %}
		<iframe id="ls_embed_1506037354" src={{event.video_link}} width="640" height="360" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>	
	{% elsif event.speaking_image %}
		{% capture images %}
			/images/speaking/{{event.speaking_image}}
		{% endcapture %}
		{% include gallery images=images cols=1 %}                  
	{% endif %}

</article>
 {% endfor %}   
      
    
   
