---
layout: post-index
title: Speaking
description: "When I say things."
comments: false
image:
  feature: burning-man-abstract.png
  credit: 
  creditlink: 
---
   
      
{% for post in site.speaking reversed %}
<article> 
	<h2><a href="{{ post.event_link }}" title="{{ post.title }}">{{ post.title }}</a></h2>
	<h3>{{ post.location }} - {{ post.date | date: "%B %d, %Y" }}</h3>
	<p class="entry-title">{{ post.content }}</p>

	{% if post.video_link %}
		<iframe id="ls_embed_1506037354" src={{post.video_link}} width="640" height="360" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe>	
	{% else %}
		{% capture images %}
			/images/speaking/{{post.speaking_image}}
		{% endcapture %}
		{% include gallery images=images cols=1 %}                  
	{% endif %}

</article>
 {% endfor %}   
      
    
   
