---
layout: post-index
title: Speaking
description: "When I say things."
comments: false
image:
  feature: burning-man-abstract.png
  credit: 
  creditlink: 
---
   
      
{% for post in site.speaking reversed %}
<article> 
<h2><a href="{{ post.event_link }}" title="{{ post.title }}">{{ post.title }}</a></h2>

{% capture images %}
	/images/hardware_and_visibility/Planter_Toms.png	
{% endcapture %}
{% include gallery images=images cols=2 %}      
    
        

        <h3>{{ post.location }}</h3>
        <p class="entry-title">{{ post.date | date: "%B %d, %Y" }}</p>
</article>
 {% endfor %}   
      
    
   
