
  <header>
  	<div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ page.modified | date_to_xmlschema }}"><a href="{{ site.url }}{{ page.url }}">{{ page.modified | date: "%B %d, %Y" }}</a></time></span><span class="author vcard"><span class="fn"><a href="{{ site.url }}/about/" title="About {{ site.owner.name }}">{{ site.owner.name }}</a></span></span>
  </div>
    {% if page.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" class="permalink" rel="bookmark" title="{{ page.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ page.link }}">{{ page.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ page.url }}" rel="bookmark" title="{{ page.title }}" itemprop="url">{{ page.title }}</a></h1>
    {% endif %}
  </header>